<div class="container">
  <div class="row m-2">
    <div>
      <h4>注文履歴詳細</h4>
    </div>
  </div>
  
  <div class="row form-inline">
    <div class="col-9">
      <strong>注文情報</strong>
      <table class="table table-bordered">
        <tr>
          <td class="table-avtive">
            注文日
          </td>
          <td>
            <%= @order.created_at.strftime('%Y/%m/%d') %>
          </td>
        </tr>
        <tr>
           <td class="table-active">
            配送先
          </td>
          <td>
            <%= '〒' + @order.postal_code %><br>
            <%= @order.addressee %><br>
            <%= @order.address %>
          </td>
        </tr>
        <tr>
          <td class="table-active">
            支払方法
          </td>
          <td>
            <%= @order.payment_i18n %>
          </td>
        </tr>
      </table>
    </div>
    
    <div class="col-3">
      <table class="table table-bordered">
        <tr>
          <td class="table-active">
            商品合計
          </td>
          <td>
            <%= @total.round.to_s(:delimited)%>
          </td>
        </tr>
        <tr>
           <td class="table-active">
            配送料
          </td>
          <td>
            <%= @order.freight %>
          </td>
        </tr>
        <tr>
           <td class="table-active">
            ご請求額
          </td>
          <td>
            <%= @order.amount_claimed %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-11">
      <table class="table table-bordered">
        <th class="table-active">
          商品
        </th>
        <th class="table-active">
          単価（税込）
        </th>
        <th class="table-active">
          個数
        </th>
        <th class="table-active">
          小計
        </th>
        <% @order.order_details.each do |order_detail| %>
          <tr>
            <td>
              <%= order_detail.item.name %>
            </td>
            <td>
              <%= order_detail.item.taxin_price.ceil.to_s(:delimited) %>
            </td>
            <td>
              <%= order_detail.amount %>
            </td>
            <td>
              <%= (order_detail.item.taxin_price * order_detail.amount).ceil.to_s(:delimited) %>
            </td>
          </tr>
            
          <% end %>
      </table>
    </div>
  </div>
  
  
</div>