<div class="container form-inline">

  <!--サイドバー-->
  <div class="col-3">
    <table class="table table-hover">
      <thead>
        ジャンル検索
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= genre.name %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!--商品詳細-->
 <div class="form-inline">
   <div class="mr-4">
     <%= image_tag @item.get_item_image(250,250) %>
   </div>
   <div>
       <div class="font-weight-bold">
         <%= @item.name %>
       </div>
       <div>
         <%= @item.introduction %>
       </div>
       <div class="mt-4">
         <strong>¥<%= @item.taxin_price.ceil.to_s(:delimited) %></strong>（税込）
       </div>
       <div>
          <%= form_with model: @cart_item, url: public_cart_items_path, method: :post do |f| %>
            <%= f.select :amount, *[1..10], include_blank: "個数選択" %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.submit "カートに入れる" %> 
          <% end %>
       </div>
   </div>
  </div>
</div>
